@media (max-width: 768px) {
    .main {
        width: 375px;
        height: 667px;
        justify-content: flex-start;
        padding: 28px 16px;
    }

    .section-card {
        width: 100%;
        height: 100%;
        flex-direction: column;
        gap: 4px;
    }

    .picture-img {
        width: 100%;
        height: 240px;
    }

    .picture-img img {
        width: 100%;
        border-radius: 10px 10px 0 0;
    }

    .section-information {
        gap: 10px;
        padding: 19px 0 250px 25px;
    }

    h1 {
        padding: 3px 0 5px 0;
        font-size: 32px;
    }

    p {
        padding: 0 25px  0 0;
    }

    .prices {
        padding: 10px 0 2px 0;
        gap: 18px;
    }

    .btn-cart {
        width: 295px;
    }
}